[Unit]
Description=Prometheus Node Exporter
After=network.target

[Service]
Type=simple
ExecStart={{ node_exporter_install_dir | default('/opt/node_exporter') }}/node_exporter \
  --path.procfs=/host/proc \
  --path.sysfs=/host/sys \
  --collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
