[Unit]
Description=Prometheus Node Exporter
After=network.target

[Service]
User=node_exporter
Group=node_exporter
Type=simple
ExecStart={{ node_exporter_install_dir }}/node_exporter --web.listen-address={{ node_exporter_bind_ip }}:{{ node_exporter_port }}
Restart=always
RestartSec=5
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
