[Unit]
Description=Prometheus Node Exporter
After=network-online.target node-exporter-firewall.service
Wants=network-online.target
Requires=node-exporter-firewall.service

[Service]
User=node_exporter
Group=node_exporter
Type=simple
ExecStartPre=+/usr/local/sbin/node-exporter-firewall.sh
ExecStart={{ node_exporter_install_dir }}/node_exporter --web.listen-address={{ node_exporter_bind_ip }}:{{ node_exporter_port }}
Restart=always
RestartSec=5
NoNewPrivileges=true
PrivateTmp=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
RestrictRealtime=true
LockPersonality=true

[Install]
WantedBy=multi-user.target
